body {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F3F3F3;
  overflow-x: hidden;
  transition: all .2 ease-in-out;
}

code {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
